openapi: 3.0.3
info:
  title: SRA Collector
  description: Using [NIH NCBI](https://www.ncbi.nlm.nih.gov/gds), this API collects SRA metadata of several GEO studies in one search.
  contact:
    email: marta.arcones@gmail.com
  version: 1.0.0
externalDocs:
  description: See project README for architecture & tech stack details
  url: https://github.com/arcones/sra-collector/blob/main/README.md
servers:
  - url: https://sra-collector.martaarcones.net
paths:
  /query-submit:
    post:
      tags:
        - query
      summary: Submit query to fetch GEO studies and process its dependant SRA metadata
      requestBody:
        description: NCBI GEO complete query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
        required: true
      responses:
        '201':
          description: Request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryProcessed'
        '500':
          description: Something went wrong, contact developer
components:
  schemas:
    Query:
      type: object
      properties:
        ncbi_query:
          type: string
          description: Text to submit as query to GEO
          example: multiple sclerosis and rna seq
    QueryProcessed:
      type: object
      properties:
        request_id:
          type: string
          description: Unique identifier of the query submitted
          example: QjAhFivgliAEMsg=
        ncbi_query:
          type: string
          description: Echoes the query that was submitted
          example: multiple sclerosis and rna seq
